@page "/Reports/Period"
@using AppHttpClient
@using FinancialManager.DTOs.Reports

@inject AppHttpClient client

<h3>Report for period from @periodStart.ToString("dd.MM.yyyy") to @periodEnd.ToString("dd.MM.yyyy")</h3>

<table class="table">
    <tbody>
        <tr>
            <td>Total exprenses</td>
            <td>@report.TotalExprenses</td>
        </tr>
        <tr>
            <td>Total income</td>
            <td>@report.TotalIncome</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped align-middle table-bordered">
    <thead class="table-success">
        <tr>
            <th>Date and time</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Operation type id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in report.Operations)
        {
            <tr>
                <td>@operation.DateTime</td>
                <td>@operation.Amount</td>
                <td>@operation.Description</td>
                <td>@operation.OperationTypeId</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href='/Reports' class="btn btn-outline-danger" role="button">
    Back
</a>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "periodStart")]
    public DateTime periodStart { get; set; } = default!;
    [Parameter]
    [SupplyParameterFromQuery(Name = "periodEnd")]
    public DateTime periodEnd { get; set; } = default!;
    public ReportDetailsDto report { get; set; } = default!;

    protected override void OnInitialized()
    {
        try
        {
            report = client.GetObjects<ReportDetailsDto>($"{AppHttpClient.ReportUrl}/GetPeriodReport?periodStart={periodStart}&periodEnd={periodEnd}");
        }
        catch
        {
            this.report = new ReportDetailsDto();
        }
    }
}
