@page "/FinancialOperations"

<PageTitle>Financial operations</PageTitle>
@if (_operations is null)
{
    <p><em>Loading...</em></p>
    return;
}
<div class="row">
    <div class="col-md-6">
        <a href='/FinancialOperations/create/' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add
        </a>
    </div>
</div>
<br />

<MudGrid>
    <MudItem xs="9">
        <MudTable Items="_operations" Class="table table-striped align-middle table-bordered" HeaderClass="table-success"
             Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true">
            <HeaderContent>
                <MudTh>Date and time</MudTh>
                <MudTh>Amount</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Operation type id</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.DateTime</MudTd>
                <MudTd>@(((double)context.Amount / 100).ToString("0.00"))</MudTd>
                    <MudTd>@context.Description</MudTd>
                    <MudTd>@context.OperationTypeId</MudTd>
                    <MudTd>
                        <a href='/FinancialOperations/Update/@context.Id' class="btn btn-outline-dark" role="button">Edit</a>
                        <a href='/FinancialOperations/Details/@context.Id' class="btn btn-outline-dark" role="button">Details</a>
                        <a class="btn btn-outline-danger" role="button" onclick="@(async () => await Delete(context))">Delete</a>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>
    </MudGrid>