@page "/FinancialOperations"

<PageTitle>Financial operations</PageTitle>
@if (_operations is null)
{
    <p><em>Loading...</em></p>
    return;
}
<div class="row">
    <div class="col-md-6">
        <a href='/FinancialOperations/create/' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add
        </a>
    </div>
</div>
<br />
<table class="table table-striped align-middle table-bordered">
    <thead class="table-success">
        <tr>
            <th>Date and time</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Operation type id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in _operations)
        {
            <tr>
                <td>@operation.DateTime</td>
                <td>@(((double)operation.Amount / 100).ToString("0.00"))</td>
                <td>@operation.Description</td>
                <td>@operation.OperationTypeId</td>
                <td>
                    <a href='/FinancialOperations/Update/@operation.Id' class="btn btn-outline-dark" role="button">
                        Edit
                    </a>
                    <a href='/FinancialOperations/Details/@operation.Id' class="btn btn-outline-dark" role="button">
                        Details
                    </a>
                    <a class="btn btn-outline-danger" role="button" onclick="@(async () => await Delete(operation))">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
