@page "/OperationTypes/details/{id:int}"
<h3>Delete</h3>

@if (_operationType is null)
{
    <p><em>Loading...</em></p>
    return;
}
<div class="form-group">
    <h4>Details of @_operationType.Name operation type</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>@_operationType.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@_operationType.Name</td>
            </tr>
            <tr>
                <td>Is Income</td>
                <td>@_operationType.IsIncome</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <a href='/OperationTypes/Update/@_operationType.Id' class="btn btn-outline-dark" role="button">Edit</a>
    <a class="btn btn-outline-danger" role="button" onclick="@(async () => await Delete())">Delete</a>
    <input type="submit" value="Back" @onclick="(() => Back())" class="btn btn-warning" />
</div>
